# ==============================================================================
# SAMANYA OS - Configuración de Variables de Entorno (API Backend)
# ==============================================================================

# Entorno y Puerto
NODE_ENV=development
PORT=4000

# Conexión Oracle Database
DB_USER=SAMANYA
DB_PASSWORD=T3k3r_2025_DEV
DB_CONNECT_STRING=tekersalud-db.maxapex.net:1521/orclpdb1
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_INCREMENT=2

# Seguridad JWT
JWT_SECRET=samanya_secret_jwt_key_2025_geriatric_care_secure
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=samanya_refresh_jwt_key_2025_geriatric_care_secure
JWT_REFRESH_EXPIRES_IN=15d

# CORS
CORS_ORIGIN=*
